<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/reset.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/hospital-profile.css">
    <title>Profile</title>
</head>
<body>

    <nav class="nav-bar" >
        <div class="image-ico" >
        <div class="imageii" >
            <a href="/index" ><img class= "image-01" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png"></a>
        </div>
        <div class="bar-icon" >
            <i  onclick="showUl()" class="fa fa-bars"  id = "sign"></i>
        </div>
        </div>
        <div class="ul-list" >
            <ul class="contents" >
                <li><a href="/doctor">Doctor</a></li>
                <li><a href="/hospital">Hospital</a></li>
                <li class="dropdown" >
                    <a href="/treatment">Treatment</a>
                    <ul class="dropdown-content" >
                        <li><a href="/">Cancer</a></li>
                        <li><a href="/">Dentistry</a></li>
                        <li><a href="/">CardioPedics Surgery</a></li>
                        <li><a href="/">Cardiology Treatment</a></li>
                        <li><a href="/">Infertility Specialist</a></li>
                        <li><a href="/">Cancer</a></li>
                    </ul>
                </li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
        <div class="top-btns" >  
            <% if(currentUser){  %>
                <button id="tvastra-plus-btn" onclick="location.href = '/tvastra-plus';" >Tvastra Plus</button>
            <% } %>
                <button id="btn2" onclick="location.href = '/';" >Get a Qoute</button>
        </div>
        <% if(currentUser){ %>
            <div class="head-nav-user" >
                <div class="nav-user" >
                    <label ><%= currentUser.name.toUpperCase() %></label>
                    <i class="fa fa-angle-down nav-profile-icon" onclick="showProfile()" aria-hidden="true"></i>
                </div>

                <ul class="nav-user-profile">
                    <li class="user-profile-li" >
                        <div class="nav-user-image" >
                            <div class="contain-user-image" >
                                <img class="user-image" src="/images/checkup.jpg" alt="image-user">
                            </div>
                            <div class="user-info" >
                                <h4><%= currentUser.name.toUpperCase() %></h4>
                                <span>9810832782</span>
                            </div>
                        </div>
                    </li>
                    <li class="user-profile-lis border-top" ><a href="#">My Appointments</a></li>
                    <li class="user-profile-lis"><a href="#">My Lab Tests</a></li>
                    <li class="user-profile-lis"><a href="#">My Medicine Order</a></li>
                    <li class="user-profile-lis"><a href="#">My Payments</a></li>
                    <li class="user-profile-lis"><a href="/logout">Logout</a></li>
                </ul>
            </div>
            
        <% } %>
    </nav>


    <section class="hero" >
        <h2>About <%= hospital.name %></h2>
        <h4>Home / Hospital Profile</h4>
    </section>





    <section class="profile" >  
        <div class="profile-img" >
            <img  class="image-profile" src="<%= hospital.image %>" alt="Profile-image">
            <button class="appoint-btn" >Call Now</button>
        </div>
        <div class="details" >
            <div class="doc-details">
                <h1 class="add color-blue"><%= hospital.name %></h1>

                <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nemo aasi ayush gowt loren sdsqd ayus lioren and you cant do tha tand it.</p>
            </div>
            <div class="doc-feature" >
                <div>
                <div class="each-feature" id="diff-feature">
                    <div>
                    <i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
                    <h3>Specialization</h3>
                    </div>
                    <div>
                        <i class="fa fa-arrow-circle-up " id = "only-hide"  onclick="hidePara('show-p1','only-show','only-hide')" aria-hidden="true"></i>
                        <i class="fa fa-arrow-circle-down" id = "only-show" onclick="showPara('show-p1','only-show','only-hide')" aria-hidden="true"></i>

                    </div>
                </div>
                <p class="show-p" id="show-p1" >
                    <%= hospital.specialization %> is our Speciality.
                </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-stethoscope fa-lg" aria-hidden="true"></i>
                        <h3>Famous Treatments</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide1"  onclick="hidePara('show-p2','only-show1','only-hide1')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show1" onclick="showPara('show-p2','only-show1','only-hide1')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p2" >
                        <%= hospital.treatments %>+ SuccessFul Treatments. 
                    </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                        <h3>Famous Doctors</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide2"  onclick="hidePara('show-p3','only-show2','only-hide2')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show2" onclick="showPara('show-p3','only-show2','only-hide2')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p3" >
                        <%= hospital.doctors %>+ Trusted Doctors.
                    </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-building fa-lg" aria-hidden="true"></i>
                        <h3>Infrastrucutre</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide3"  onclick="hidePara('show-p4','only-show3','only-hide3')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show3" onclick="showPara('show-p4','only-show3','only-hide3')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p4" >
                        <%= hospital.infrastructure %> infrastrucutre with awesome Campus.
                    </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-h-square fa-lg" aria-hidden="true"></i>
                        <h3>Beds</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide4"  onclick="hidePara('show-p5','only-show4','only-hide4')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show4" onclick="showPara('show-p5','only-show4','only-hide4')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p5" >
                        <%= hospital.beds %>+ beds.
                    </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                        <h3>Complete Address</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide5"  onclick="hidePara('show-p6','only-show5','only-hide5')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show5" onclick="showPara('show-p6','only-show5','only-hide5')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p6" >
                        <%= hospital.address %>
                    </p>
                </div>
                <div>
                    <div class="each-feature" id="diff-feature">
                        <div>
                        <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
                        <h3>Hospital Chagres</h3>
                        </div>
                        <div>
                            <i class="fa fa-arrow-circle-up " id = "only-hide6"  onclick="hidePara('show-p7','only-show6','only-hide6')" aria-hidden="true"></i>
                            <i class="fa fa-arrow-circle-down" id = "only-show6" onclick="showPara('show-p7','only-show6','only-hide6')" aria-hidden="true"></i>
    
                        </div>
                    </div>
                    <p class="show-p" id="show-p7" >
                        <%= hospital.fees %>
                    </p>
                </div>
                



            </div>
        </div>
    </section>



    <section class="need-help" >
        <div>
        <h2>Need Help</h2>
        <p>Just let us know. We will be happy to assist you.</p>
        </div>
        <div>
        <button class="help-btn" >Submit your query</button>
        </div>
    </section>


    <footer class="very-last" >
        <div class="footer1" >
        <img id="last-image" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/footer.png">
        <div id = "footer">
            <span class="footer-content"><a href="/doctor" >Doctors</a></span>
            <span class="footer-content"><a href="/hospital" >Hospitals</a></span>
            <span class="footer-content"><a href="/treatment" >Treatments</a></span>
            <span class="footer-content"><a href="/contact-us" >Contact Us</a></span>
            <span class="footer-content" ><a href="/FAQ" >FAQs</a></span>
        </div>
        </div>
        <div id = "last-footer">
            <div>
            <p>All Rights Reserved. tvastra 2018</p>
            </div>
            <div class="corner" >
                <i class="fa fa-facebook-official icon-size" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p icon-size" aria-hidden="true"></i>
                <i class="fa fa-google icon-size" aria-hidden="true"></i>
                <i class="fa fa-twitter icon-size" aria-hidden="true"></i>
                <i class="fa fa-instagram icon-size" aria-hidden="true"></i>
            </div>
        </div>
    </footer>




    <script src="/scripts/script.js"></script>

    
</body>
</html>